/* Usado para prefixos: https://autoprefixer.github.io */
/* Usado para animações: https://github.com/matthieua/WOW */

.wow {
  visibility: hidden;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.bounceIn {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  opacity: 0;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: lavender;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  h2 {
    margin-bottom: 30px;
    font-size: 1.8em;
  }
}

h2::before {
  content: "- ";
}

h2::after {
  content: " -";
}

h3 {
  text-align: left;
  display: inline-block;
  padding: 15px 0;
  font-size: 1.2em;
}

.container {
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
  padding: 52px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: inherit;
  overflow: hidden;
}

@media only screen and (max-width: 1100px) {
  .container {
    padding: 52px 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 52px 10px;
  }
}

header {
  background-color: black;
  width: 100%;
  height: 50px;
  display: block;
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: rgb(190, 87, 46) 2px solid;
  z-index: 10;
}

header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
}

@media only screen and (max-width: 600px) {
  header .container {
    padding: 0 25px;
  }
}

header .logo {
  height: 40px;
  width: auto;
}

@media only screen and (max-width: 175px) {
  header .logo {
    display: none;
  }
}

header nav {
  padding-right: inherit;
  display: inline;
  font-family: 'Roboto Mono', monospace;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  header nav .menu {
    display: none;
  }
}

header nav .menu li {
  margin-left: 40px;
  font-size: 20px;
}

header a {
  color: lavender;
  text-decoration: none;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

header a:hover,
header a:active {
  color: rgb(190, 87, 46);
}

header #menuMobile {
  display: none;
}

@media only screen and (max-width: 599px) {
  header nav #menuMobile {
    display: unset;
  }
}

header #menuMobile #linksMobile {
  background-color: black;
  display: none;
}

header #menuMobile #linksMobile li a {
  text-align: right;
  display: inline-block;
  width: calc(100% - 25px);
  padding: 20px 25px 20px 0;
}

header #menuMobile a.icon {
  display: block;
  font-size: 40px;
}

header #menuMobile a:hover,
header #menuMobile a:active {
  background-color: #ddd;
  color: black;
}

@media only screen and (max-width: 600px) {
  header #menuMobile {
    display: unset;
  }
}

#capa .home-right {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 57%;
  height: 100vh;
  background-image: url("../img/banner6.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: #445d7b;
  /* background-blend-mode: luminosity; */
  background-size: 90%;
  -webkit-clip-path: polygon(19% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(19% 0%, 100% 0%, 100% 100%, 0% 100%);
  padding-top: 50px;
}

@media only screen and (max-height: 240px) {
  #capa .home-right {
    background-size: 65%;
  }
}

@media only screen and (min-height: 241px) and (max-height: 275px) {
  #capa .home-right {
    background-size: 80%;
  }
}

@media only screen and (max-width: 600px) and (max-aspect-ratio: 3/4) {
  #capa .home-right {
    right: unset;
    left: 0;
    width: 100vw;
    height: 50%;
    -webkit-clip-path: unset;
    clip-path: unset;
    background-position-y: bottom;
    background-size: 100%;
  }
}

#capa .home-left {
  position: relative;
  left: 0;
  top: 0;
  width: 44%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 2%;
  overflow: hidden;
}

@media only screen and (max-width: 600px) and (max-aspect-ratio: 3/4) {
  #capa .home-left {
    right: unset;
    left: unset;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-left: unset;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

#capa .home-left .titulo {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  line-height: 1.5em;
  width: 14.5em;
  overflow: hidden;
  margin-top: 50px;
}

@media only screen and (max-width: 219px) {
  #capa .home-left .titulo {
    font-size: 12px;
  }
}

@media only screen and (min-width: 220px) and (max-width: 330px) {
  #capa .home-left .titulo {
    font-size: 13px;
  }
}

@media only screen and (min-width: 231px) and (max-width: 530px) {
  #capa .home-left .titulo {
    font-size: 15px;
  }
}

@media only screen and (min-width: 531px) and (max-width: 577px) {
  #capa .home-left .titulo {
    font-size: 16px;
  }
}

@media only screen and (min-width: 578px) and (max-width: 649px) {
  #capa .home-left .titulo {
    font-size: 18px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 768px) {
  #capa .home-left .titulo {
    font-size: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  #capa .home-left .titulo {
    font-size: 24px;
  }
}

@media only screen and (max-width: 175px) {
  #capa .home-left .titulo .css-typing {
    display: none;
  }
}

@media only screen and (max-width: 600px) and (max-aspect-ratio: 3/4) {
  #capa .home-left .titulo {
    height: 45vh;
    padding-top: 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 25px;
  }
}

@media only screen and (max-width: 480px) and (max-height: 639px) and (min-aspect-ratio: 2999/4000) {
  #capa .home-left .titulo {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) and (max-aspect-ratio: 3/4) {
  #capa .home-left .titulo {
    font-size: 20px;
  }
}

@media only screen and (max-width: 340px) and (max-aspect-ratio: 3/4) {
  #capa .home-left .titulo {
    font-size: 17px;
  }
}

@media only screen and (max-width: 275px) and (max-aspect-ratio: 3/4) {
  #capa .home-left .titulo {
    font-size: 15px;
  }
}

@media only screen and (max-width: 240px) and (max-aspect-ratio: 3/4) {
  #capa .home-left .titulo {
    font-size: 13px;
  }
}

@media only screen and (max-width: 200px) and (max-aspect-ratio: 3/4) {
  #capa .home-left .titulo .css-typing {
    display: none;
  }

  .bounceIn {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
}

#capa .home-left .titulo .botao-container {
  margin-top: 1.8em;
  text-align: center;
  overflow: hidden;
  height: 60px;
}

@media only screen and (max-width: 380px) and (max-height: 506px) and (min-aspect-ratio: 2999/4000) {
  #capa .home-left .titulo .css-typing {
    display: none;
  }

  #capa .home-left .titulo .botao-container {
    margin-top: 0;
  }

  .bounceIn {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
}

@media only screen and (max-height: 175px) {
  #capa .home-left .titulo .css-typing {
    display: none;
  }

  #capa .home-left .titulo .botao-container {
    margin-top: 0;
  }

  .bounceIn {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
}

@media only screen and (max-height: 375px) {
  #capa .home-left .titulo .botao-container {
    margin-top: 0;
  }
}

@media only screen and (max-width: 450px) and (max-aspect-ratio: 3/4) {
  #capa .home-left .titulo .botao-container {
    margin-top: 0;
  }
}

#capa .home-left .titulo strong {
  color: maroon;
}

#capa .home-left .titulo .botao a {
  color: #445d7b;
  padding: 5px 23px 5px 23px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: initial;
  font-size: 55px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

#capa .home-left .titulo .botao a:hover,
#capa .home-left .titulo .botao a:active {
  color: rgb(190, 87, 46);
  font-size: 60px;
  opacity: 1;
}

@media only screen and (max-width: 90px) {
  #capa .home-left .titulo .botao a {
    font-size: 25px;
    padding: 0;
  }

  #capa .home-left .titulo .botao a:hover,
  #capa .home-left .titulo .botao a:active {
    font-size: 30px;
  }
}

#sobre {
  width: 100%;
  position: relative;
  background: #fefefe;
  overflow: hidden;
}

#sobre img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

@media only screen and (max-width: 600px) {
  #sobre img {
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
}

#sobre img:hover,
#sobre img:active {
  opacity: 0.8;
}

#sobre p {
  font-size: 0.9em;
  text-align: justify;
  text-indent: 3em;
  line-height: 1.5em;
  margin-bottom: 0.7em;
}

#sobre .sobre-conteudo {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#conhecimentos {
  background-color: #6689b4;
  overflow: hidden;
}

#conhecimentos .skillbar {
  width: 70%;
  margin: 60px auto 0 auto;
  display: block;
}

@media only screen and (max-width: 1100px) {
  #conhecimentos .skillbar {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  #conhecimentos .skillbar {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  #conhecimentos .skillbar {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  #conhecimentos .skillbar {
    width: 100%;
    margin: 30px auto 0 auto;
  }
}

#conhecimentos h3 {
  font-family: 'Roboto Mono', monospace;
  padding: 0 0 5px 0;

}

#conhecimentos .percent {
  color: #2e2e2e;
  padding: 0 10px;
  font-size: 16px;
  /* line-height: 25.5px; */
  vertical-align: middle;
  font-weight: 700;
  line-height: 27px;

}

#conhecimentos .skillbar>div:hover,
#conhecimentos .skillbar>div:active {
  opacity: 0.8;
}

#conhecimentos .skillbar .progress-bar {
  margin-bottom: 40px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  #conhecimentos .skillbar .progress-bar {
    margin-bottom: 20px;
  }
}

#conhecimentos .skillbar .progress-content-outter {
  height: 27px;
  background-color: #99b1cd;
  text-align: end;
}

@media only screen and (max-width: 600px) {
  #conhecimentos .skillbar .progress-content-outter {
    height: 23px;
  }
}

#conhecimentos .skillbar .progress-content {
  height: 100%;
  background-color: rgb(199, 110, 75);
  width: 0%;
}

#conhecimentos .skillbar .progress-number-wrapper {
  color: black;
  position: relative;
  z-index: 10000;
}

#projetos {
  background-color: lavander;
  overflow: hidden;
}

#projetos ul {
  margin: 0 auto;
  width: 70%;
}

@media only screen and (max-width: 1100px) {
  #projetos ul {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  #projetos ul {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  #projetos ul {
    width: 97%;
  }
}

#projetos li {
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 40px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 190px;
  overflow: hidden;
  -webkit-transition: 700ms;
  -o-transition: 700ms;
  transition: 700ms;
}

@media only screen and (max-width: 750px) {
  #projetos li {
    height: 230px;
  }
}

@media only screen and (max-width: 600px) {
  #projetos li {
    padding-right: 0;
    display: table;
  }
}

#projetos li:hover,
#projetos li:active {
  border-color: rgb(190, 87, 46);
  -webkit-box-shadow: 0px 0px 5px grey;
  box-shadow: 0px 0px 5px grey;
  -webkit-transform: scale(1.03, 1.03);
  -ms-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #projetos li h3 {
    text-align: center;
    display: -ms-grid;
    display: grid;
  }
}

#projetos img {
  height: 100%;
  width: auto;
  float: left;
  margin-right: 20px;
}

@media only screen and (max-width: 750px) {
  #projetos img {
    height: 100%;
    width: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
  }
}

@media only screen and (max-width: 600px) {
  #projetos img {
    width: 100%;
    height: auto;
    margin-right: 0;
    float: none;
  }
}

#projetos p {
  font-size: 0.9em;
  line-height: 1.5em;
}

@media only screen and (max-width: 600px) {
  #projetos p {
    padding: 10px;
    text-align: justify;
  }
}

#contato {
  width: 100%;
  background-color: #445d7b;
  overflow: hidden;
}

#contato form {
  width: 55%;
  margin: 0 auto;
  color: white;
  /* overflow: hidden; */
}

@media only screen and (max-width: 1100px) {
  #contato form {
    width: 60%;
  }
}

@media only screen and (max-width: 900px) {
  #contato form {
    width: 65%;
  }
}

@media only screen and (max-width: 800px) {
  #contato form {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  #contato form {
    width: 100%;
    text-align: justify;
  }
}

#contato input {
  height: 40px;
  width: 100%;
  margin: 3px 0;
  background-color: #091a2f;
  border: 0;
  font-size: 1em;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

#contato textarea {
  padding: 10px 15px;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  margin: 3px 0;
  border: 0;
  background-color: #091a2f;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

#contato .enviar {
  position: relative;
  border: 2px solid lavender;
  width: 30%;
  float: right;
  cursor: pointer;
  -webkit-transition: 700ms;
  -o-transition: 700ms;
  transition: 700ms;
  font-style: unset;
}

@media only screen and (max-width: 280px) {
  #contato .enviar {
    width: 100%;
  }
}

#contato .enviar:hover,
#contato .enviar:active {
  background-color: rgb(199, 110, 75);
}

footer {
  width: 100%;
  background-color: #16283f;
  overflow: hidden;
}

footer .icons {
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
  footer .icons {
    font-size: 2.3em;
  }
}

footer .icons a {
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  color: rgb(199, 110, 75);
  margin: 0 15px;
}

footer .icons a:hover,
footer .icons a:active {
  opacity: 0.6;
}

footer p {
  color: white;
  text-align: center;
}