body {
  background-color: lavender;
}

header {
  background-color: black;
  width: 100%;
  height: 55px;
  display: block;
  position: fixed;
  box-sizing: border-box;
  border-bottom: rgb(190, 87, 46) 2px solid;
  z-index: 10;
}

.container {
  width: 1200px;
  height: inherit;
  margin: 0 auto;
  position: relative;
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
  box-sizing: border-box;
  align-items: center;
  z-index: inherit;
}

.container .logo {
  height: 40px;
  width: auto;
}

.container nav {
  padding-right: inherit;
  display: inline; 
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  
}

.container nav .menu {
  display: flex;
  position: relative;
  left: 0;
  box-sizing: border-box; 
}

.container nav .menu li {
  margin-left: 40px;
  font-size: 18px;
}

.container nav .menu a{
  color: lavender;
  text-decoration: none;
}

.right {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 57%;
  height: 100vh;
  background-image: url("../img/banner6.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: #445d7b;
  /* background-blend-mode: luminosity; */
  background-size: 90%;
  clip-path: polygon(19% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.left {
  position: relative;
  left: 0;
  top: 0;
  width: 44%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 90px;
}

.left .titulo {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  font-size: 32px;
  /* font-weight: bold; */
  line-height: 1.5em;
  width: 14.5em;
}

.left .titulo strong {
  color: maroon;
}

.left .titulo .botao-container{
  margin-top: 40px;
  text-align: center;
}

.left .titulo .botao{
  border: black 3px solid;
  padding: 5px 23px 5px 23px;
  width: min-content;
  display: initial;
  font-size: 23px;
  background-color: rgb(214, 214, 248);
  /* background-color: #f09b36; */
}

.left .titulo .botao:hover{
  background-color: #f09b36;
  /* background-color: rgb(214, 214, 248); */
}

.sobre {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: white;
  /* box-sizing: border-box; */
  display: block;
}

.sobre .container {
  /* align-items: initial; */
  padding-left: 100px;
  padding-right: 100px;
  /* padding-top: 10px; */
  display: grid;
  align-content: flex-start;
}

.sobre h1{
  font-size: 40px;
  text-align: center;
  margin: 30px;
}

.sobre img {
  width: 1000px;
  height: auto;
  margin-bottom: 20px;
}

.sobre p{
  font-size: 20px;
  text-align: justify;
  text-indent: 3em;
  line-height: 2em;
}



