body {
  background-color: lavender;
}

header {
  background-color: black;
  width: 100vw;
  height: 55px;
  display: block;
  position: static;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  height: inherit;
  margin: 0 auto;
  position: relative;
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
  box-sizing: border-box;
  align-items: center;
  z-index: 10;
}

.container .logo {
  height: 40px;
  width: auto;
}

.container nav {
  padding-right: inherit;
  display: inline; 
  box-sizing: border-box;
  position: absolute;
  right: 0px;
}

.container nav .menu {
  display: flex;
  position: relative;
  left: 0;
  box-sizing: border-box; 
}

.container nav .menu li {
  margin-left: 40px;
  font-size: 18px;
}

.container nav .menu a{
  color: lavender;
  text-decoration: none;
}

.right {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 57vw;
  height: 100vh;
  background-image: url("../img/banner6.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: #445d7b;
  background-size: 90%;
  clip-path: polygon(19% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 43vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left .titulo {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  font-size: 1.5em;
  /* font-weight: bold; */
  line-height: 1.5em;
  width: 14.5em;
}

.left .titulo strong {
  color: maroon;
}